<%- include('includes/head') %>
<%- include('includes/Nav') %>
   <div class="contaner">
     <div class="row">
       <div class="col-lg-2"></div>
       <div class="col-lg-8 my-3">
         <h1 class="text-center">Funcionários</h1>
         <p class="text-center lead">Os Funcionários estão abaixos</p>
       </div>
       <div class="responsive-table">
         <table class="table">
           <tr>
             <td>oi</td>
             <td>oi</td>
             <td>oi</td>
             <td>oi</td>
           </tr>
         </table>
       </div>
       <div class="col-lg-2"></div>
     </div>
   </div>
<%- include('includes/footer') %>